table {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}

body {
  background-color: rgb(197, 211, 218);
  color: rgb(13, 12, 12);
}


td, th {
	border: 1px solid hsl(220 10% 80%);
	padding: .4em .5em;
}

input {
	box-sizing: border-box;
	width: 100%;
}
button {
	--color: hsl(253, 71%, 43%);
	border: .1em solid var(--color);
	background: transparent;
	color: var(--color);
}

button:hover {
	background: var(--color);
	color: white;
}

button:active {
	transform: scale(1.05);
}